@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lugrasimo", cursive;
}
:root{
    --primary: #a2a2d0;
    --dark: #333333;
    --light: #ffffff;
}
.d-flex{
    display: flex;
    border-bottom: solid 2px var(--primary);
}
.d-flex.align-items-center{
    align-items: center;
}
.d-flex.space-between{
    justify-content: space-between;
}
.container{
    margin-left: 100px;
    margin-right: 100px;

}

.header{
    padding: 20px 0;
    background-color: var(--light);

}

.logo, .nav-link{
    cursor: pointer;
}

.logo{
    padding-bottom: 6px;
    color: var(--primary);
    font-size: 20px;
}

.nav .nav-list{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.nav-link{
    color: var(--dark);
}

.nav-link:hover{
    color: var(--primary);
}

.tickets{
    padding: 90px 0;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.title{
    font-size: 35px;
    color: var(--primary);
    margin-bottom: 35px;
}

.tickets-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.ticket-card{
    padding: 20px;
    flex-basis: 23%;
    background-color: var(--light);
    border: 2px solid var(--primary);
    border-radius: 30px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.film-image{
    width: 100%;
}

.film-title{
    font-size: 20px;
    margin: 10px 0;
    color: var(--primary);
}

.film-description{
    font-size: 15px;
    font-weight: 300;
    margin: 20px 0;
    color: var(--dark);
}

.film-action{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ticket-price{
    margin-right: 45px;
    font-size: 20px;
    font-weight: 300;
}

.add-to-buy{
    padding: 10px 30px;
    background-color: var(--primary);
    color: var(--light);
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}


.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  